
.RedHeader { color: #fff; background-color: #c62828; }
.RedContent{ background-color: #f44336; }

.GreenHeader { color: #fff; background-color: #2e7d32; }
.GreenContent{ background-color: #4caf50; }

.BlueHeader { color: #fff; background-color: #1565c0; }
.BlueContent{ background-color: #2196f3; }

.PurpleHeader { color: #fff; background-color: #6a1b6a; }
.PurpleContent{ background-color: #9c27b0; }